{% extends 'base.html' %}
{% block content %}

<h1>Meal Details</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="card mb-3">
    {% for photo in meal.photo_set.all %}
    <img src="{{photo.url}}" class="card-img-top" alt="Meal Pic">
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <div class="card-body">
      <h5 class="card-title">{{ meal.name }}</h5>
      <p class="card-text">Description: {{ meal.description }}</p>
      <p class="card-text">Quantity Available: {{ meal.quantity }} - Price: ${{ meal.price }}</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
    <div class="card-body row">
      <form action="{% url 'meal_update' meal.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="Edit">
      </form>
      <form action="{% url 'meal_delete' meal.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="Delete">
      </form>
      <form action="{% url 'cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ meal.id }}" name="meal_id">
        <input type="text" value="1" name="meal_quantity">
        <input type="submit" class="btn" value="Add to Cart">
      </form>
    </div>
    <form action="{% url 'add_photo' meal.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Comments</h5>
      {% for reviews in meal.review_set.all %}
      <p class="card-text">{{ reviews.date }}</p>
      <p class="card-text">
      {{ reviews.user.username }}: {{ reviews.comment }}
      </p>
      {% endfor %}
      <form action="{% url 'add_review' meal.id %}" method="post">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
      </form>
    </div>
  </div>

{% endblock %}