{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="text-center">
  <h1 class="page-title">Food Near You</h1>
</div>

<div class='container-fluid row justify-content-center'>
   {% for meal in meals %}
   <a class="alink" href="{% url 'details' meal.id %}">
    <div class="card shadow" style="width: 18rem; height: 28rem;" id="mealcard">
      {% for photo in meal.photo_set.all %}
      <div class="">
        <img class="card-img-top" style="height: 13rem;" src="{{photo.url}}">
      </div>
      {% empty %}
      <div class="card-body">
          <img class="card-img-top" src="{% static 'images/food.png' %}" alt="No Image Uploaded">
      </div>
      {% endfor %}
      <div class="text-center">
        <h3 class="card-title">{{ meal.name }}</h3>
      </div>
      <div class="card-body">
          <p>{{ meal.description }}</p>
        </div>
      <div class="text-center card-foot">
        <small class="text-muted">
          Cook Name: {{ meal.chef }}
        </small>
      </div>
    </div>
  </a>
    {% endfor %}
  </div>
{% endblock %}