{% extends 'base.html' %}
{% block content %}
<hr>

<div id="mealform">
<form action="" method="post" class="form">
    {% if object %}
    <h1>Edit <span class="teal-text">{{object.model}}</span></h1>
    {% else %}
    <h1>About the meal</h1>
    {% endif %}
    {% csrf_token %}
    <table>
        <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
    </table>
    {% for photo in meal.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <input type="file" name="photo-file">
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <input type="submit" value="Submit Meal" class="btn">
</form>
</div>



{% endblock %}