{% extends 'base.html' %}
{% block content %}

<h1>Food Near You</h1>

<!-- <form id="searchform" action="{% url 'blog_search_list_view' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form> -->

{% for meal in meals %}
  <a href="{% url 'detail' meal.id %}">
    {% for photo in meal.photo_set.all %}
    <div class="card-image">
        <img class="responsive-img card-panel" src="{{photo.url}}">
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ chef.name }}</span>
            <p>Dish Title: {{ meal.name }}</p>
            <p>Cook Name: {{ chef.name }}</p>
            <p>Meal Description: {{ meal.description }}</p>
  
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}