{% extends 'base.html' %}
{% block content %}

<div class="text-center">
    <h1 class="page-title">Profile</h1>
  </div>

<div class="card">
<div class="card-body">

  <p>Username: {{ user.username }}</p> 
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p> 
  <p>Email Address: {{ user.email }}</p> <br>

  {% if user.profile.chef %}
    <p>Chef's Profile:</p>
    <p>Chef's Address:</p>
    <p>{{ user.profile.address1 }}</p> 
    <p>{{ user.profile.city }}, {{ user.profile.state }}, {{ user.profile.zipcode }}</p> 
  </div>

  {% endif %}

</div>

<div class="text-center">
    <h1 class="">Order History</h1>
  </div>

<div class="card">
  <div class="card-body">
    <table class="striped tbl-cart table">
      <thead class="cart-head">
        <tr><th>Confirmation #</th><th>Date</th><th>Total</th></tr>
      </thead>
      <tbody>
        {% for tran in trans %}
          <tr>
            <td>{{tran.id}}</td>
            <td>{{tran.date}}</td>
            <td>{{tran.cart.total}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}