*, *::before, *::after {
  box-sizing: border-box;
}

main {
    background: rgba(255, 255, 255, 0.4);
    background-image:url(../images/color-diet-food-255501.jpg);
    background-position: center;
}

#headerLogo {
    display: block;
    width: 85px;
    padding: 4px;
    /* filter: brightness(0) invert(1); */
}

#headerTitle {
    color: black;
    text-align: left;
    font: 3em bolder;
}

.btn {
    padding: 1 4;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    border-color: black;
}
input.btn {

}

.container {
    padding-right: 0em;
    padding-left: 0em;
    margin-right: 0em;
    margin-left: 0em;
    max-width: none;
}

#signup_page {
    color:red;
}


ul li{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-content: flex-end;
    list-style-type: none; 
}

footer {
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 38px;
    bottom: 0;
    text-align: center;
}


a {
    padding: 10px;
    color: orange;
    border: 3em;
}

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/color-diet-food-255501.jpg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
    padding: 18em;
    color: white;
}

form {
    padding: 2%;

}

form, table {
    padding: 1 4;

}

h1 {
    padding-left: 2%;
    padding-right: 2%;
}