*, *::before, *::after {
    box-sizing: border-box;
}


nav {
    background: rgb(248, 97, 43);
}

#headerLogo {
    display: block;
    width: 85px;
    padding: 4px;
    filter: brightness(0) invert(1);
}

#headerTitle {
    color: white;
    text-align: left;
    font: 3em bolder;
    text-shadow: 3em;
}

ul li {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-content: flex-end;
    list-style-type: none; 
    filter: brightness(0) invert(1);
    font-size: 1.2em;
}

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(../images/color-diet-food-255501.jpg);
    background-color: transparent;
    background-size: cover;
    background-position: center; */
    height: 100%;
    width: 100%;
    padding: 18em;
    color: white;

}
    
main {
    display: flex;
    position: absolute;
    justify-content:center;
    align-items: center;
    background: rgba(255, 122, 140, 0.106);
    background-image:url(../images/katie-smith-uQs1802D0CQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-right: 50px;
}



.btn {
    padding: 1 4;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    border-color: black;
}
input.btn {

}

.container {
    padding-right: 0em;
    padding-left: 0em;
    margin-right: 0em;
    margin-left: 0em;
    max-width: none;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

a {
    padding: 10px;
    color: orange;
    border: 3em;
}

form {
    padding: 2%;
    
}

form, table {
    padding: 1 4;
    
}

h1 {
    padding-left: 2%;
    padding-right: 2%;
}





/* footer {
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 38px;
    bottom: 0;
    text-align: center;
} */