    
*, *::before, *::after {
    box-sizing: border-box;   
}

html{
    background-image:url(../images/128-174.jpg);
    background-repeat: repeat;
}

nav {
    background: rgba(248, 97, 43, 80%);
    border-radius: .3em;
}


.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

#headerLogo {
    display: block;
    width: 85px;
    padding: 4px;
    filter: brightness(0) invert(1);
}

#headerTitle {
    color: white;
    text-align: left;
    font: 3em bolder;
    text-shadow: 3em;
}

ul li {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-content: flex-end;
    list-style-type: none; 
    filter: brightness(0) invert(1);
    font-size: 1.2em;
}

main {
    display: inline-block;
    position: absolute;
    background-image:url(../images/katie-smith-uQs1802D0CQ-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}


#homepage.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 30rem;
    padding: 4em;
    box-sizing: 100%;
    padding-top: 27%;
}

.banner{
    color: rgba(255, 255, 255, .92);
}

.banner h1{
    font-size: 80px;    
}


.btn {
    /* padding: 1 4;
    margin: .3em;
    font-size: 1.25rem;
    line-height: 1.2; */
    border-radius: .2rem;
    border-color: black;
    background-color: rgba(200, 200, 200, 90%);
    padding: 3px 6px;
}


.container {
    max-width: none;
}

#indexpage h1 {
    display: flex;
    color: white;
    text-align: center;
    opacity: .8;
    border: 1em;
    font-size: 80px;
    min-height: 25%;
}

#indexboard {
    display: flex;
    flex-direction: column-reverse;
}

.index_board {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background: rgba(255, 255, 255, .5); */


}

#mealcard.card {
    border-radius: 1em;
    max-width: 24em;
    max-height: 15bem;
    margin: 1em;
    /* background-color: rgba(255, 255, 255, .9); */
}

#meal_image {
    max-width: 18em;
    max-height: 10em;
    padding-top: .3em;
}

div.card-body {
    background: rgba(255, 255, 255, 1);
    padding: .3em;
    max-height: 10em;
    margin-top: 30px;
}


#quantity {
    width: 6em;
}

h6 {
    display: flex;
    flex-direction: flex-start;
    justify-content: flex-start;
    padding: 1em;
}

form {
    padding: .3em;
    background: rgba(255, 255, 255, .8);
    color: rgb(0, 0, 0, .7);
}


form, table {
    padding: 1 4;
}

th {
    padding: 1em;
}

#id_description: {
    width: 100em;
}

#mealform {
    display: flex;
    justify-content: center;
    /* height: 100%; */
}

#mealform, form {
    border-radius: 1em;
    padding: .5em;
    position: relative;
}

input {
    padding: .4em;
    margin:.5em;
}

footer {
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 38px;
    bottom: 0;
    text-align: center;
}